:root {
    --primary-color: #00b533;
    --dark-color: #262626;
    --gray-color: rgba(0, 0, 0, 0.1);
    --bg-color: #fff;
    --vertical-pad: 4rem;
    --horizontal-pad: 5.5rem;
}

html {
    font-size: 62.5%;
}
body {
    background-color: var(--bg-color);
    scroll-behavior: smooth;
    font-size: 1.6rem;
}
a {
    text-decoration: none;
    color: var(--dark-color);
}

.App {
    display: flex;
    height: 100%;
    width: 100%;
    position: relative;
    padding: var(--vertical-pad) var(--horizontal-pad);
}

.main {
    width: 100%;
    font-size: 1.6rem;
    margin-left: 23.5rem;
}

.hero {
    padding-left: var(--horizontal-pad);
}
